.page-legend {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  text-align: right;
  align-items: center;
  gap: 16px;
  font-size: 11px;
  flex-wrap: wrap;
  width: 100%;
}

.legend-label {
  font-weight: bold;
  color: #333;
  margin-right: 4px;
}

.legend-item-row {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #666;
}

.legend-item-row img,
.legend-item-row .fa {
  width: 16px;
  height: auto;
  min-width: 16px;
  text-align: center;
}